*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #4070f4;
    font-family: monospace;
    cursor: none;


}
body.dark{
    background-color: #000115;
}
/*---Cursor---*/
.cursor{

    z-index:999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
    0 0 60px #2696E8,
    0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes colors {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }

}

.cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}
/*-----Light / Dark Theme----*/

.toggle-main{
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;

}

#light{
    margin-right: 15px;
    color: #4070f4;
    font-size: 20px;
    font-weight: bold;
}
#dark{
    margin-left: 15px;
    color: #000115;
    font-size: 20px;
    font-weight: bold;
}
.toggle-btn{
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.toggle-btn:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background: #4070f4;
    border-radius: 50%;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle-btn.active::before{
    background-color: #000115;
    left: calc(100% - 25px - 5px );
}
/*-------Header-------*/
.header a{
    text-decoration: none;
}
.header{
    width: 100%;
    display: flex;
}
.header .navbar{
    width: 100%;
    height: 90px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .navbar .logo a{
    font-size: 34px;
    font-weight: 700;
    color: white;
    margin-left: 24px;
    cursor: none;
}



.header .menu{
    display: flex;
    align-items: center;
    gap: 32px;
}

.header .menu-item{
    display: flex;
    gap: 24px;
    padding-inline: 24px;
    border-right: white 30px;
}

.header .menu-item a{
    font-weight: bold;
    font-size: 17px;
    color: white;
    padding: 8px 16px;
}

.header .menu-item a:hover{
    color: white;
}
.header .menu-btn {
    font-size: 32px;
    color: white;
    display: none;
    /*cursor: pointer;*/
}

.header .menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media (max-width: 1024px) {
    .header .menu {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        padding: 16px;
    }

    .header .menu-btn {
        display: flex;
    }

    .header .menu-item {
        flex-direction: column;
        gap: 16px;
        border-right: none;
    }
    .header .menu-item a{
        font-weight: bold;
        font-size: 17px;
        color: white;
        padding: 8px 16px;
    }
}


@media (max-width: 1025px) {
    .menu{
        display: none;
    }
    .menu-btn{
        display: flex !important;
    }
}


/*---Main------*/
main{
    min-height: 500px;
}
/*------Footer-------*/


.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.wrapper{
    display: inline-flex;
}
.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);


}

.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.wrapper .icon:hover span i{
    color: white;
}

.wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.wrapper .icon:hover span{
    color: white;
}


.wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    background: white;
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper .icon:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}

.wrapper .facebook span,
.wrapper .facebook .tooltip,
.wrapper .facebook .tooltip:before{
    background: #0866ff;
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
    background: #0866ff;
}

.wrapper .twitter span,
.wrapper .twitter .tooltip,
.wrapper .twitter .tooltip:before{
    background: black;
}


.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
    background: black;
}

.wrapper .github span,
.wrapper .github .tooltip,
.wrapper .github .tooltip:before{
    background: #333;
}



.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
    background: #333;
}

.wrapper .linkedin span,
.wrapper .linkedin .tooltip,
.wrapper .linkedin .tooltip:before{
    background: #0073b2;

}

.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before{
    background: #0073b2;
}